@import "../../../styles/global.css";

.login {
  font-family: var(--font-primary);
  padding: var(--padding-page);
  margin: var(--margin-page);
}

.fondo {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .container {
    width: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .title{
    margin-bottom: 20px;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: bold;
  } 
  
  .form {
    
    margin-left: auto;
    margin-top: 50px;
    margin-right: -160px;
  }
  
  .input_box {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .input_box input {
    color: var(--black);
    padding: 10px;
    border-radius: 8px;
    border: 3px solid var(--border);
    outline: none;
    background: var(--white);
    width: 300px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background: var(--red-secundary);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .btn:hover {
    background: var(--red-primary);
    transform: scale(1.1); 
  }

  .logo_UMB {
    position: absolute;
    bottom: 0px;
    left: -20px;
  }
  
  .logo_UMB img {
    width: 150px;
    margin: 35px;
  }
  
