/* Data_Table.module.css */
@import "../../styles/global.css";

/* Estilos para el contenedor de los botones */
.buttonsContainer {
  display: flex;
  gap: 10px;
}

/* Estilo general de los botones */
.button {
  background: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}

/* Efecto de hover para los botones */
.button:hover {
  background: #dcdcdc;
  transform: scale(1.1);
}

/* Tooltip para los botones */
.button[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

/* Estilo para los botones de acción (en la tabla) */
.button {
  padding: 6px 10px;
  background-color: #800000e6; /* mismo tono que los títulos */
  color: white;
  border: none;
  border-radius: 8px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Contenedor principal para centrar y dar espaciado */
.tableContainer {
  margin: 70px auto;
  flex-direction: column;
}

/* Estilo para el título */
.title {
  font-size: 24px;
  font-weight: bold;
  color: #800000e6; /* Rojo oscuro */
  margin-bottom: 20px;
  align-self: flex-start; /* Alinea el título a la izquierda */
}

/* Estilo para el botón de registro */
.registerButton {
  padding: 10px 20px;
  background-color: #800000e6; /* Rojo oscuro */
  color: white;
  border: none;
  border-radius: 8px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  align-self: flex-start; /* Alinea el botón de registro a la izquierda */
}

/* Estilos para la barra de filtros horizontal */
.topBar {
  margin-bottom: 20px;
  display: flex; /* Disposición horizontal */
  gap: 15px; /* Espacio entre los elementos de filtro */
  align-items: center; /* Alineación vertical de los elementos */
}

/* Estilo para los campos de búsqueda (incluyendo selects) */
.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: auto; /* Ajuste automático del ancho */
  flex-grow: 1; /* Permite que los campos crezcan */
  max-width: 200px; /* Ancho máximo opcional */
}

.searchInput select {
  width: 100%; /* Asegura que el select ocupe el ancho de su contenedor */
  padding: 8px; /* Asegura que el padding se aplique también al select */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}