:root {
    /* ESPACIADOS */
    --margin-page: 0;
    --padding-page: 0;

    /* TIPOGRAFIA */
    --font-primary: "Quicksand", serif;
    --font-title: 20px;
    --font-subtitle: 16px;
    --font-text: 12px;

    /* PALETA DE COLORES */
    --red-primary: #b00000;
    --white: #ffffff;
    --black: #000000;
    --border: #7d7f81;
    --red-secundary: #900000;
}