@import "../../../styles/global.css";

.DashDoctor {
    font-family: var(--font-primary);
    padding: var(--padding-page);
    margin: var(--margin-page);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 96%;
    background: var(--border);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    border: 8px solid gray;
    box-shadow: 0 0 4px 8px rgb(70, 70, 70);
}

.navbar:hover {
    box-shadow: 0 0 2px 4px var(--red-secundary);
}

.navbarleft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbarcenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--font-title);
    font-weight: bold;
    color: var(--white);
}

.navbarright{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navbar li {
    color: var(--white);
    cursor: pointer;
    font-size: var(--font-subtitle);
    font-weight: bold;
}

.navbar li:hover {
    color: var(--red-primary);
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img {
    background: var(--white);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--red-primary);
}

.profile:hover .img {
    box-shadow: 0 0 5px 4px var(--red-secundary);
}

.profil:hover {
    color: var(--red-primary);
}

.salir {
    padding: 8px 20px;
    background: var(--red-secundary);
    border: none;
    color: var(--white);
    cursor: pointer;
    border-radius: 8px;
    font-size: var(--font-subtitle);
    font-weight: bold;
    display: flex;
    min-width: 120px;
    height: auto;  /* Permite que la altura se ajuste automáticamente */
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.salir:hover {
    background: var(--red-primary);
    transform: scale(1.2); 
}

.container {
    margin-top: 100px; /* Para evitar que la barra de navegación lo cubra */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    
} 
