@import "../../styles/global.css";

/* *{
    margin: var(--margin-page);
    padding: var(--padding-page);
  } */

.container {
    width: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
  }

.title{
    font-size: 2.5rem;
    color: var(--red-primary);
    font-weight: bold;
    text-align: center;
  } 

  .logo_UMB {
    position: absolute;
    bottom: 0px;
    left: -20px;
  }
  
  .logo_UMB img {
    width: 150px;
    margin: 35px;
  }